# Python
venv/
__pycache__/
*.pyc
.env

# FastAPI
*.log

# Node / Frontend
node_modules/
dist/
build/

echo "backend/app/uploads/" >> .gitignore
echo "*.zip" >> .gitignore
git add .gitignore

# OS
.DS_Store
