@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  @apply m-0 p-0 box-border;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}

input[type='number'] {
  @apply appearance-none;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
